<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <a href="{% url 'course_enroll:enroll' %}">Home</a>
        <h1>Register</h1>
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        <form method="post" action="{% url 'course_enroll:register' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br/>
            <br/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br/>
            <br/>
            <input type="submit", value="Register"/>
        </form>
        <a href="{% url 'course_enroll:login' %}">or Login</a>
    </body>
</html>