<!DOCTYPE html>
<html>
    <head>
        <title>{{ course.name }}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <a href="{% url 'course_enroll:enroll' %}">Home</a>
        {% if auth %}
            <a href="{% url 'course_enroll:logout' %}">Logout</a>    
        {% else %}
            <a href="{% url 'course_enroll:login' %}">Login</a>
        {% endif %}
        
        <h1>{{ course.name }}</h1>
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <p>{{ course.description }}</p>
        <br />
        <p>{{ count }}/{{ course.capacity }}</p>

        {% if auth %}
        <form method="post" action="{% url 'course_enroll:courses' course.id %}">
            {% csrf_token %}
            <input type="submit" value="Enroll">
        </form>
        {% endif %}
    </body>
</html>